body
{
	background-image: url(images/images.jpeg);
}
h1
{
	text-align: center;
	background-color: lightblue;
	font-family: Lucida Handwriting;
	font-size: 200%;
}
table
{
	border: 2px solid;
	border-collapse: collapse;
	width: 900px;
	text-align: left;
	font-family: Times New Roman;
	font-size: 20px;
	color: white;
}
th, td, tr
{
	border: 2px solid;
	border-style: hidden;
}