body
{
	background-color: #E0BBE4;
}
h1
{
	text-align: center; 
	background-color: #96DED1; 
	font-family: Lucida Handwriting; 
	font-size: 200%;"
}
p
{
	text-align: center;
	font-family: arial;
	font-size: 15px;
}
