body
{
	background-color: #CCCCFF;
}
h1
{
	 text-align: center; 
	 background-color: #F2D2BD; 
	 font-family: Lucida Handwriting; 
	 font-size: 200%;
}
table
{
	border: 2px solid;
	border-collapse: collapse;
	width: 800px;
	text-align: center;
	font-family: arial;
	background-color: floralwhite;
}
th, td, tr
{
	border: 2px solid;
}